* {
    background-color: rgba(0, 0, 0, 0.296);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.table-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.poker-table-svg {
    width: 100%;
    height: 100%;
    display: block;
}

.action {
    background-color: transparent;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.action-button {
    background-color: rgba(255, 183, 0, 0.814);
    padding: 0em 1em;
    border-radius: 10%;
    height: 3em;
    width: 5em;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-button {
    background-color: rgba(255, 183, 0, 0.814);
    padding: 1em 1em;
    border-radius: 10%;
}